@{
    ViewData["Title"] = "Login";
}
@{
    Layout = "_None"; //= null;
}
@model allopromo.Admin.Models.ViewModel.LoginViewModel
<div class="row">
    <div class="text-center">
        <h4 class="display-4"> allopromo|Login</h4>
    </div>
    <div class="col-md-8" style="background-color:lightgreen">

        <!--<form class="form-group" method="post" asp-action="Login" asp-controller="Home">-->

            @Html.BeginForm("Login", "Home", FormMethod.Post)){

            <h3 class="containerTitle">Login Account</h3>
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes:
                    new { @class = "control-label col-md-2" })

                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new
                    {
                        htmlAttributes =
                     new { @class = "form-control" }
                    })
                    @Html.ValidationMessageFor(model => model.UserName, "",
                    new { @class = "text-danger" })
                </div>

                <h5 style="color:red" id="loginRequired">
                </h5>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PasswordHash, htmlAttributes:
                    new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PasswordHash, new
                    {
                        htmlAttributes =
                     new { @class = "form-control" }
                    })
                    @Html.ValidationMessageFor(model => model.PasswordHash, "",
                    new { @class = "text-danger" })
                </div>
                <!--
        <label for="exampleInputEmail1">Mot de Passe:</label>
        <input type="password" class="form-control"
               id="inputPwd" placeholder="Mot de Passe" />
        <h5 style="color:red" id="loginRequired">
        </h5>
            -->
            </div>
            <div class="form-group">
                <button type="submit" style="background-color:green"
                        class="btn btn-primary">
                    LOGIN
                </button>
            </div>
            @Html.ActionLink("LOGIN c,", "Login", new { area = "" }, null)
            <%= Html.ActionLink("Back", MVC.Home.Index()) %>
        <!--</form>-->
     }
    </div>
    
    <div class="col-md-4" style="background-color:#fff">
        <h3 class="containerTitle">Register Account</h3>
        <div class="form-group">
            <label for="exampleInputEmail1">Login:</label>
            <input type="email" class="form-control" id="inputLogin_Register" placeholder="Login" />
            <h5 style="color:red" id="loginRequired">
            </h5>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Mot de Passe:</label>
            <input type="password" class="form-control"
                   id="inputPwd" placeholder="Mot de Passe" />
            <h5 style="color:red" id="loginRequired">
            </h5>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Repet&eacute;z mot de passe:</label>
            <input type="password" class="form-control"
                   id="inputrPwd" placeholder="Mot de Passe Repet&eacute;" />
            <h5 style="color:red" id="loginRequired">
            </h5>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">E-mail:</label>
            <input type="email" class="form-control"
                   id="inputEmail" placeholder="E-mail" />
            <h5 style="color:red"
                id="emailRequired">
            </h5>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Telephone #:</label>

            <h5 style="color:red" id="phoneRequired">td</h5>
        </div>
        <div class="form-group">
            <button type="submit" onclick={this.OnRegisterSubmit.bind(this)}
                    className="btn btn-primary">
                S'ENREGISTRER
            </button>
            @Html.ActionLink("Home", "Register")
        </div>
        <div class="card-body">
        </div>
    </div>
  

</div>
<script type="text/javascript">
    function OnLogin() {
        var userName = document.getElementById("userName");
        var userPwd = document.getElementById("userPwd");
        try {
            fetch("http://localhost:99999/api/user", {
                headers: {
                },
                body: {
                    "username": userName,
                    "userPassword": userPwd
                }
            }).catch(error => {
                console.log(error);
            }).then({

            })
        }
        catch (error) {
            console.log(error);
        }
    }
    function OnRegisterSubmit() {

    }
</script>


