@page
@model allopromo.SuperAdmin.IndexModel

@{
    ViewData["Title"] = "Index from whom  ?";
}
<h1>Index</h1>

<p>
    <a asp-page="Create">@Html.ActionLink("Create New", "jkj")</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StoreCategory[0].storeCatName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StoreCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.storeCatName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.storeCatId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.storeCatId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.storeCatId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
